<div class="join-block-wrapper logout-wrapper">
  {% if is_anonymous %}
  <div class="login-btn-wrapper">
  <a href="{{ path('user.register') }}"
       class="btn-join-now btn use-ajax text-decoration-none"
       data-dialog-type="modal"
       data-dialog-options="{&quot;dialogClass&quot;:&quot;signin-modal&quot;,&quot;width&quot;:1100,&quot;title&quot;: &quot;Welcome Back&quot;}">
      {{ "Join now" | t }}</a>
  </div>
  {% else %}
<div class="dropdown-menu-wrapper">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="User">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 288c79.53 0 144-64.47 144-144s-64.47-144-144-144c-79.52 0-144 64.47-144 144S176.5 288 256 288zM351.1 320H160c-88.36 0-160 71.63-160 160c0 17.67 14.33 32 31.1 32H480c17.67 0 31.1-14.33 31.1-32C512 391.6 440.4 320 351.1 320z"/></svg>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <li class="dropdown-item"><a href="{{ path('entity.user.canonical', {'user': user.id}) }}">{{ 'My Account'|t }}</a></li>
        <li class="dropdown-item"><a href="{{ path('entity.user.edit_form', {'user': user.id}) }}">{{ 'Edit Profile'|t }}</a></li>
        <li class="dropdown-item"><a href="{{ path('user.logout') }}">{{ "Log out" | t }}</a></li>
      </ul>
    </div>
</div>
  {% endif %}
</div>
